:root {
  --main-color: #d9d9d9;
  --secondary-color: #353535;
  --background-color: #284b63;
  --success-color: #38b000;
  --failure-color: #f94144;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin-top: 6rem;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-block: 0;
  padding-block: 1rem;
  border-bottom: 10px solid var(--secondary-color);
}

button {
  font-family: inherit;
  font-size: 1.4rem;
  color: #d9d9d9;
  background-color: var(--secondary-color);
  padding: 0.3em 1.5em;
  cursor: pointer;
  border: none;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--main-color);
  border: 10px solid var(--secondary-color);
}

.player,
.computer {
  display: inline-block;
  font-size: 8rem;
  transition: all 0.5s;
}

.score {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 10px solid var(--secondary-color);
}

.divider {
  border-right: 10px solid var(--secondary-color);
}

.round-result {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.controls {
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.score-control {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.set-score {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.set-score label {
  font-size: 1.6rem;
}

.set-score #score {
  border: none;
  margin-top: 0.26rem;
}

.win-round {
  color: var(--success-color);
  transform: scale(1.2);
}

.lose-round {
  color: var(--failure-color);
  transform: scale(1.2);
}

.draw-round {
  color: #f9c74f;
  transform: scale(1.2);
}

.win-game {
  color: var(--success-color);
  transform: scale(1.2);
}

.lose-game {
  color: var(--failure-color);
  transform: scale(0.8);
}

@media (min-width: 600px) {
  .actions {
    justify-content: space-evenly;
  }
  .score-control {
    justify-content: center;
  }
}

@media (min-width: 810px) {
  .game {
    width: 40rem;
  }
  .actions {
    justify-content: center;
    gap: 2rem;
  }
  .score-control {
    justify-content: center;
  }
  button {
    font-size: 1.4rem;
  }
}
